  page-orderproduct {
/*input, textarea {
  font    : .9em/1.5em "handwriting", sans-serif;

  border-top:0;
  border-left: 0;
  border-right: 0ch;
  border-bottom-width: 2px;
  border-color:lightcoral;
  padding : 0 10px;
  margin  : 0;    
  width   : 100px;
  align-items: flex-end;
  text-align: right;
  background: none;
}
input:focus, textarea:focus {
  background   : rgba(0,0,0,.1);
  border-radius: 5px;
  outline      : none;
}*/
}
